<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">       <!-- MNOGO BITNO, BEZ OVOGA NECE DA RADE STATICNI FAJLOVI KAO STO SU MAIN.CSS MAIN.JS BOOTSTRAP   -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>